head
   include headFrag
   
   script(src='/api/UsersVM.js')
body
   script(src='UIBinding.js')

   p Table:
   div
      input#srchFld.smooth(type="text" placeholder='a') 
      span &nbsp;
      a#srchBut.btn.smooth.btn-a.btn-sm Search
   #userLst
      table.table
         thead
            th FName
            th LName
            th Email
            th Phone
         tbody.list
   p OK