head
   // pre-requisite:
   script(src='https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js')

   // lib from CDN w/ version:
   //script(src='https://cdn.jsdelivr.net/npm/http-rpc@1.1.9/browser/httpRPC.min.js')
   
   script(src='httpRPC.js')

body
   p view console!

   // example how to use
   script(src='main.js')
