head
   // pre-requisite:
   script(src='https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js')

body
   p view console!

   // example how to use
   script(type='module', src='main.js')
