head
   // pre-requisite:
   script(src='https://cdn.jsdelivr.net/npm/lz-string@1.4.4/libs/lz-string.min.js')

   // lib from CDN w/ version:
   script(src='https://cdn.jsdelivr.net/gh/intuition-dev/httpRPC@1.0.1/src/node-srv/browser/httpRPC.min.js')
   
   //- script(src='httpRPC.min.js')

body
   p view console!

   // example how to use
   script(src='main.js')
