head
   include headFrag
   
   script(src='/api/ContactVM.js'  type="module")
   
body

   pg-custel 
      p Table:
      div
         input#srchFld.smooth(type="text" placeholder='a') 
         span &nbsp;
         a#srchBut.btn.smooth.btn-a.btn-sm Search
      #contactLst
         table.table
            thead
               th FName
               th LName
               th Email
               th Org
            tbody.list

      script(type='module' src='/contactScreen/pg-custel.js')  // slot
