head
   include headFrag
   //include ops
   

body
   p#one oh hi
   p #{ENV}

   script(src='BaseViewModel.js')

   script.
      toolBeltDefault()
      let vm = new BaseViewModel()
      vm.testE1()
      depp.require(['DOMDelayed', 'disableAutoFill'])
   