
head
   include headFrag
   
   script(src='/api/LoginVM.js'  type="module") // VM

body
   
   .container
      br
      
      // custom element w/ slot:
      pg-custel 
         form.grid-form#loginF
            fieldset
                  legend Login
                  div(data-row-span='1')
                     div(data-field-span='1')
                        label Name
                        input#email.form-control(type='text')
                  div(data-row-span='1')
                     div(data-field-span='1')
                        label Password
                        input#pswd.form-control.pswd(type='text')
         .msg#Fail Bad Email or Password
         #loginBut.btn.btn-sm.btn-a Login
         .msg Autorized!

      script(type='module' src='/loginScreen/pg-custel.js')  // slot


