head
   include headFrag
   
   // script(src='/api/UsersVM.js'  type="module")
   
body
   script(type='module' src='https://cdn.jsdelivr.net/gh/intuition-dev/mbToolBelt@v8.4.3/eventFlux/EventFlux.min.js')
   .container
      br
      div
         style.
            .msg {
               display: none;
            }
            
            .pswd { // https://fontstruct.com/fontstructions/show/1106896/password_dots_2
               -webkit-text-security: disc;
            }

         form.grid-form#loginF
            fieldset
                  legend Login
                  div(data-row-span='1')
                     div(data-field-span='1')
                        label Name
                        input#email.form-control(type='text')
                  div(data-row-span='1')
                     div(data-field-span='1')
                        label Password
                        input#pswd.form-control.pswd(type='text')
         .msg Bad Email or Password
         #loginBut.btn.btn-sm.btn-a Login
         .msg Autorized!
         
   script.
      
      addScript('https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js', function() {
         addScript('https://cdn.jsdelivr.net/npm/disableautofill@1.2.8/src/jquery.disableAutoFill.min.js',  disAutoReady )
      })
      function disAutoReady() {
         $('#loginF').disableAutoFill()
         console.log('dis ready')
      }

      // end load /////////////////////////////////////////////////////////
      document.getElementById('loginBut').addEventListener('click', onLoginBut)
      function onLoginBut() {
         console.log('klik')

         const inputs = document.getElementsByTagName('input')
         let obj = getInputsValue(inputs)
         console.log(obj)
         defEventFlux.doAction('evX', 'oh hi');
      }

      // /////////////////////////////////////////////////////////////////
      function getInputsValue(inputs) {
         const obj = {}
         for(var input in inputs) {
            const value = inputs[input].value
            const key = inputs[input].id
            if(!key) continue
            obj[key]=value
         }
         return obj
      }//()

      //- eg addScript('bla.js', null, 'api-key', 'key123') when they want you to use the tag: so you can in your own sequence
      function addScript(src, callback, attr, attrValue, id) {
         var s = document.createElement('script')
         s.setAttribute('src', src)
         if (attr) s.setAttribute(attr, attrValue)
         if (id) s.id = id
         if (callback) s.onload = callback
         s.async = false 
         document.getElementsByTagName('head')[0].appendChild(s)
      }