head
   include headFrag
   
   script(src='/api/UsersVM.js'  type="module")
   
body

   p Table:
   div
      input#srchFld.smooth(type="text" placeholder='a') 
      span &nbsp;
      a#srchBut.btn.smooth.btn-a.btn-sm Search
   #userLst
      table.table
         thead
            th FName
            th LName
            th Email
            th Pass
         tbody.list

   script(src='UIBinding.js')
